.card-whipe {
    background-repeat: no-repeat;
    background-size: cover;
}

#skillsunion-preview {
    background-image: url("https://druh.in/folio2022/images/gifs/skillsunion.webp");
}

#vtf-preview {
    background-image: url("https://druh.in/folio2022/images/gifs/vtf.webp");
}

#mausumi-preview {
    background-image: url("https://druh.in/folio2022/images/gifs/mausumi.webp");
}

#nowiverse-preview {
    background-image: url("https://druh.in/folio2022/images/gifs/nowiverse.webp");
}

#vocal-preview {
    background-image: url("https://druh.in/folio2022/images/gifs/vocal.webp");
}

#greenfox-preview {
    background-image: url("https://druh.in/folio2022/images/gifs/greenfox.webp");
}

#allbodies-preview {
    background-image: url("https://druh.in/folio2022/images/gifs/allbodies.webp");
    background-repeat: repeat;
    background-size: contain;
    background-position: center center;
}

#buzzoms-preview {
    background-image: url("https://druh.in/folio2022/images/gifs/buzzoms.webp");
    background-position: right 0px bottom 10%;
}

#fathom-preview {
    background-image: url("https://druh.in/folio2022/images/gifs/fathom.webp");
}

#biobot-preview {
    background-image: url("https://druh.in/folio2022/images/gifs/biobot.webp");
}

#stamurai-preview {
    background-image: url("https://druh.in/folio2022/images/gifs/stamurai.webp");
    background-position: right 0px bottom 15%;
}

#insanedeals-preview {
    background-image: url("https://druh.in/folio2022/images/gifs/insanedeals.webp");
    background-position: right 0px bottom 10%;
}

#keralaonroad-preview {
    background-image: url("https://druh.in/folio2022/images/gifs/keralaonroad.webp");
    background-position: right 0px bottom 10%;
}


/*! locomotive-scroll v3.1.7 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
html.has-scroll-smooth {
    overflow: hidden;
}

html.has-scroll-dragging,
html.has-scroll-dragging * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.has-scroll-smooth body {
    overflow: hidden;
}

.c-scrollbar {
    position: absolute;
    z-index: 5000;
    right: 0;
    top: 0;
    width: 7px;
    height: 100vh;
    transform-origin: center right;
    transition: transform 0.3s, opacity 0.3s;
    opacity: 0;
}

.c-scrollbar:hover {
    transform: scaleX(1.45);
}

.c-scrollbar:hover,
.has-scroll-dragging .c-scrollbar,
.has-scroll-scrolling .c-scrollbar {
    opacity: 1;
}

.c-scrollbar_thumb {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #c1c1c1;
    border-radius: 50vw;
    width: 5px;
    margin: 2px;
    cursor: -webkit-grab;
    cursor: grab;
}

.has-scroll-dragging .c-scrollbar_thumb {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}